.button {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 5px;
  margin: 0 auto;
  color: $greyish-brown;
  border: 2px solid $greyish-brown;
  background-color: $white;
}
