.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: $width-tablet) {
    flex-direction: row;
  }

  @media (min-width: $width-desktop) {
    flex-direction: column;
  }
}

.card-content__header-link {
  @include link-reset;
  color: $black;

  &:hover,
  &:focus {
    color: $black-60;
  }

  &:active {
    color: $black-30;
  }
}

.card-content__img-link {
  z-index: 20;
}

.card-content__img {
  display: block;

  @media (min-width: $width-tablet) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $width-desktop) {
    width: 316px;
    height: 462px;
  }
}

.card-content__header {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 5px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    margin-top: 25px;
  }
}

.card-content__wrapper {
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid $border-color;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 335px;
    flex-grow: 1;
  }

  @media (min-width: $width-desktop) {
    width: 316px;
  }
}

.card-content__description {
  font-size: 13px;
  line-height: 30px;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 18px;

  @media (min-width: $width-tablet) {
    font-size: 15px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 14px;
  }
}

.card-content__price-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 21px 0 12px;
  border-top: 1px solid $border-color;
  margin-bottom: 14px;
}

.card-content__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 17px;
    padding-left: 3px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 0;
  }
}

.card-content__cart {
  background-color: transparent;
  border: none;
  padding: 0;
  fill: $menu-btn-color;
  opacity: 0.2;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 1;
    fill: $main-green;
  }

  &:active {
    opacity: 0.3;
  }
}
