.catalog-video {
  box-sizing: border-box;
  margin-bottom: 57px;

  @media (min-width: $width-tablet) {
    margin-bottom: 61px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 100px;
  }
}
