.category-list {
  @include list-reset;

  @media (min-width: $width-tablet) {
    display: flex;
  }

  @media (min-width: $width-desktop) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.category-list__item {
  background-color: $main-green;
  flex-grow: 1;

  &:hover,
  &:focus,
  &:active {
    background-color: $main-green-hover;
    margin-top: -5px;
  }
}

.category-list__item--dark {
  background-color: $main-green-dark;

  &:hover,
  &:focus,
  &:active {
    background-color: $main-green-dark-hover;
    margin-top: -5px;
  }
}

.category-list__link {
  display: block;
  max-width: 100px;
  color: $white;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  padding: 25px 78% 30px 9%;

  &:hover {
    transform: translateY(-5px);
  }

  @media (min-width: $width-tablet) {
    line-height: 30px;
    padding: 29px 70% 30px 11%;
  }

  @media (min-width: $width-desktop) {
    padding: 29px 76% 30px 7%;
  }
}
