.category-list {
  @include list-reset;

  @media (min-width: $width-tablet) {
    display: flex;
  }

  @media (min-width: $width-desktop) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.category-list__item {
  flex-grow: 1;
  background-color: $main-green-hover;
}

.category-list__item--dark {
  background-color: $main-green-dark;
}

.category-list__link {
  background-color: $main-green;
  display: block;
  max-width: 100px;
  color: $white;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  padding: 25px 78% 30px 9%;

  &:hover,
  &:focus,
  &:active {
    transform: translateY(-5px);
    background-color: $main-green-hover;
  }

  @media (min-width: $width-tablet) {
    line-height: 30px;
    padding: 29px 70% 30px 11%;
  }

  @media (min-width: $width-desktop) {
    padding: 29px 76% 30px 7%;
  }
}

.category-list__link--dark {
  background-color: $main-green-dark;

  &:hover,
  &:focus,
  &:active {
    transform: translateY(-5px);
    background-color: $main-green-dark-hover;
  }
}
