.copyright {
  display: flex;
  align-items: center;
  padding: 29px 69px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.copyright__logo {
  width: 27px;
  height: 34px;
}
