.form {
  margin-bottom: 55px;

  @media (min-width: $width-tablet) {
    margin-bottom: 25px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 20px;
  }
}

.form__fieldset {
  @include fieldset-reset;
}

.form__fieldset-wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  @media (min-width: $width-desktop) {
    padding-right: 225px;
    padding-left: 110px;
  }
}

.form__input {
  background-color: transparent;
}

.form__filedset--color {
  @media (min-width: $width-tablet) {
    padding-top: 15px;
  }
}

.form__fieldset--tel {
  padding-bottom: 0;

  @media (min-width: $width-tablet) {
    padding-top: 13px;
    padding-bottom: 5px;
  }
}

.form__fieldset--email {
  padding-bottom: 29px;

  @media (min-width: $width-tablet) {
    padding-top: 13px;
    padding-bottom: 40px;
  }
}

.form__fieldset-wrapper--tel {
  padding-bottom: 15px;
}

.form__fieldset-wrapper--email {
  padding-top: 5px;
}

.form__fieldset-wrapper--text {
  @media (min-width: $width-tablet) {
    padding-top: 42px;
  }
}

.form__filedset--name {
  @media (min-width: $width-tablet) {
    padding-top: 15px;
  }
}

.form__filedset--tel {
  padding-top: 5px;
}

.form__filedset--bg {
  @media (min-width: $width-tablet) {
    background-color: $grey-light;
  }
}

.form__list {
  @include list-reset;
  margin-bottom: 22px;

  @media (min-width: $width-tablet) {
    width: 500px;
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    width: 700px;
  }
}

.form__list--color {
  margin-bottom: 0;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    width: 730px;
  }
}

.form__list--name {
  margin-bottom: 0;

  @media (min-width: $width-tablet) {
    margin-bottom: 4px;
  }
}

.form__legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-green;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;

  @media (min-width: $width-tablet) {
    margin-right: 125px;
  }
}

.form__legend--type {
  padding-bottom: 35px;
}

.form__legend--color {
  padding-bottom: 35px;
}

.form__legend--name {
  padding-bottom: 28px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 76.5%;
    height: 1px;
    background-color: $main-green;
    top: calc(20% - 1px);
    left: 62px;

    @media (min-width: $width-tablet) {
      display: none;
    }
  }
}

.form__legend--tel {
  padding-bottom: 9px;

  @media (min-width: $width-desktop) {
    margin-right: 83px;
  }
}

.form__legend--email {
  padding-bottom: 9px;

  @media (min-width: $width-tablet) {
    margin-right: 110px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 57px;
  }
}

.form__legend--add {
  display: block;
  padding-bottom: 28px;

  @media (min-width: $width-tablet) {
    margin-top: 15px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 75px;
  }
}

.form__item {
  padding-bottom: 23px;
  position: relative;

  @media (min-width: $width-tablet) {
    display: flex;
    align-items: flex-start;
    padding-bottom: 58px;
  }
}

.form__item--color {
  position: relative;
  padding-bottom: 43px;

  @media (min-width: $width-tablet) {
    width: 220px;
    padding-bottom: 58px;
    padding-right: 20px;
  }

  @media (min-width: $width-desktop) {
    width: 205px;
    padding-right: 0;
  }
}

.form__item--name {
  padding-bottom: 27px;

  @media (min-width: $width-tablet) {
    padding-bottom: 39px;
  }

  @media (min-width: $width-desktop) {
    margin-left: -50px;
    padding-right: 50px;
  }
}

.form__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  @media (min-width: $width-tablet) {
    font-size: 19px;
    margin-right: 23px;
  }
}

.form__label--type {
  padding-left: 62px;

  @media (min-width: $width-tablet) {
    padding-left: 80px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 30px;
  }
}

.form__label--color {
  padding-left: 62px;

  @media (min-width: $width-tablet) {
    padding-left: 80px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 26px;
  }
}

.radio-input {
  position: absolute;
  border: 2px solid $text-color;
  border-radius: 50%;
  background: transparent;
  height: 35px;
  width: 35px;
  top: -9px;
  left: 0;

  @media (min-width: $width-tablet) {
    height: 47px;
    width: 47px;
    top: -17px;
  }

  @media (min-width: $width-desktop) {
    left: -50px;
  }
}

.checkbox-input {
  position: absolute;
  border: 2px solid $text-color;
  background: transparent;
  height: 35px;
  width: 35px;
  top: -11px;
  left: 0;

  @media (min-width: $width-tablet) {
    height: 48px;
    width: 48px;
    top: -15px;
  }

  @media (min-width: $width-desktop) {
    left: -53px;
  }
}

.form__input--text,
.form__input--tel,
.form__input--email {
  display: block;
  border: none;
  box-shadow: inset 0 -2px 0 0 $black;
  padding: 16px 0;
  width: 100%;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $width-tablet) {
    flex-grow: 1;
    padding: 0 5px 20px 20px;
  }

  @media (min-width: $width-desktop) {
    width: 700px;
  }
}

.form__input--email {
  margin-top: 7px;

  @media (min-width: $width-tablet) {
    margin-top: 0;
  }
}

.form__input--order-text {
  box-sizing: border-box;
  border: 2px solid $black;
  width: 100%;
  padding: 14px;
  padding-bottom: 22px;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $width-tablet) {
    width: 500px;
  }

  @media (min-width: $width-desktop) {
    width: 700px;
  }
}

.form__bottom-text {
  font-size: 14px;
  line-height: 16px;
  color: $text-color;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 30px;

  @media (min-width: $width-tablet) {
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__submit-button {
  @media (min-width: $width-tablet) {
    order: 1;
    margin-left: 0;
    width: 230px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 115px;
    margin-top: -7px;
  }
}
