// Общие стили и отступы

.form {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 55px;

  @media (min-width: $width-tablet) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 40px;
  }
}

.form__fieldset {
  @include fieldset-reset;
}

.form__filedset--bg {
  @media (min-width: $width-tablet) {
    background-color: $grey-light;
  }
}

.form__fieldset-wrapper {
  @media (min-width: $width-tablet) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

// Филдсеты

.form__fieldset-wrapper--type {
  @media (min-width: $width-tablet) {
    display: flex;
    width: 86.5%;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    max-width: 1050px;
  }
}

.form__fieldset-wrapper--color {
  @media (min-width: $width-tablet) {
    padding-top: 65px;
    display: flex;
    width: 86.5%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  @media (min-width: $width-desktop) {
    max-width: 1050px;
  }
}

.form__fieldset-wrapper--name {
  @media (min-width: $width-tablet) {
    display: flex;
    width: 86.5%;
    margin: 0 auto;
    padding-top: 60px;
  }

  @media (min-width: $width-desktop) {
    max-width: 1050px;
  }
}

.form__fieldset-wrapper--tel {
  @media (min-width: $width-tablet) {
    display: flex;
    width: 86.5%;
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 37px;
  }

  @media (min-width: $width-desktop) {
    max-width: 1050px;
  }
}

.form__fieldset-wrapper--email {
  @media (min-width: $width-tablet) {
    display: flex;
    width: 86.5%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  @media (min-width: $width-desktop) {
    max-width: 1050px;
  }
}

.form__fieldset-wrapper--add {
  @media (min-width: $width-tablet) {
    display: flex;
    width: 86.5%;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 32px;
  }

  @media (min-width: $width-desktop) {
    max-width: 1050px;
  }
}

.form__fieldset-wrapper--submit {
  @media (min-width: $width-tablet) {
    display: flex;
  }

  @media (min-width: $width-desktop) {
    max-width: 700px;
    margin-left: auto;
    padding-right: 225px;
  }
}

.form__fieldset--type {
  margin-bottom: 18px;

  @media (min-width: $width-tablet) {
    margin-bottom: 12px;
  }
}

.form__fieldset--name {
  margin-bottom: 10px;

  @media (min-width: $width-tablet) {
    margin-bottom: 20px;
  }
}

.form__fieldset--tel {
  margin-bottom: 32px;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }
}

.form__fieldset--email {
  margin-bottom: 32px;
}

.form__fieldset--add {
  margin-bottom: 16px;
}

// Заголовки

.form__fieldset-header {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-green;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.form__fieldset-header--type {
  margin-bottom: 28px;

  @media (min-width: $width-tablet) {
    margin-top: 2px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 36px;
  }
}

.form__fieldset-header--color {
  margin-bottom: 30px;

  @media (min-width: $width-tablet) {
    margin-top: 2px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 32px;
    margin-top: 0;
  }
}

.form__fieldset-header--name {
  margin-bottom: 28px;

  @media (min-width: $width-tablet) {
    margin-top: 7px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 32px;
  }
}

.form__fieldset-header--tel {
  display: block;
  margin-bottom: 17px;

  @media (min-width: $width-tablet) {
    margin-top: 5px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 4px;
    margin-left: 35px;
  }
}

.form__fieldset-header--email {
  display: block;
  margin-bottom: 18px;

  @media (min-width: $width-tablet) {
    margin-top: 5px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 33px;
  }
}

.form__fieldset-header--add {
  display: block;
  margin-bottom: 26px;

  @media (min-width: $width-tablet) {
    margin-top: 17px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 35px;
  }
}

// Списки и элементы списков

.form__list {
  @include list-reset;
}

.form__list-item {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $black;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $width-tablet) {
    font-size: 19px;
  }
}

.form__list--type {
  padding-top: 6px;
  padding-left: 62px;

  @media (min-width: $width-tablet) {
    width: 63%;
    margin-left: auto;
    padding-top: 0;
  }

  @media (min-width: $width-desktop) {
    width: 66.5%;
    margin-left: 93px;
  }
}

.form__list-item--type {
  position: relative;
  padding-bottom: 25px;

  @media (min-width: $width-tablet) {
    padding-bottom: 58px;
  }
}

.form__list--color {
  padding-top: 6px;
  padding-left: 62px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 63%;
    margin-left: auto;
    padding-top: 0;
  }

  @media (min-width: $width-desktop) {
    width: 66.5%;
    margin-left: 90px;
  }
}

.form__list-item--color {
  position: relative;
  padding-bottom: 43px;

  @media (min-width: $width-tablet) {
    box-sizing: border-box;
    width: 50%;
    padding-bottom: 58px;
  }

  @media (min-width: $width-desktop) {
    width: 25.25%;
    padding-right: 50px;
  }
}

.form__list--name {
  @media (min-width: $width-tablet) {
    width: 75%;
    margin-left: auto;
  }

  @media (min-width: $width-desktop) {
    width: 85%;
    max-width: 700px;
    margin-left: 75px;
  }
}

.form__list-item--name {
  padding-bottom: 23px;

  @media (min-width: $width-tablet) {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
  }
}

// Лейблы

.form__label--name {
  display: block;
  padding-bottom: 10px;

  @media (min-width: $width-tablet) {
    margin-right: 25px;
  }
}

// Инпуты и кастомные инпуты

.radio-input {
  position: absolute;
  border: 2px solid $text-color;
  border-radius: 50%;
  background: transparent;
  height: 35px;
  width: 35px;
  top: -8px;
  left: -62px;

  @media (min-width: $width-tablet) {
    height: 47px;
    width: 47px;
    top: -14px;
    left: -80px;
  }
}

.checkbox-input {
  position: absolute;
  border: 2px solid $text-color;
  background: transparent;
  height: 35px;
  width: 35px;
  top: -11px;
  left: -62px;

  @media (min-width: $width-tablet) {
    height: 48px;
    width: 48px;
    top: -16px;
    left: -80px;
  }
}

.form__input--name {
  border: none;
  border-bottom: 2px solid $black;
  width: 100%;
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 15px;
  outline: none;

  &:hover,
  &:focus {
    border-color: $main-green-input;
  }

  &:active {
    border-color: $main-green-input;
  }

  @media (min-width: $width-tablet) {
    padding-left: 17px;
  }
}

.form__input--tel {
  border: none;
  border-bottom: 2px solid $black;
  width: 100%;
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 15px;
  outline: none;

  &:hover,
  &:focus {
    border-color: $main-green-input;
  }

  &:active {
    border-color: $main-green-input;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $text-color-30;

    @media (min-width: $width-tablet) {
      font-size: 19px;
    }
  }

  @media (min-width: $width-tablet) {
    width: 72.5%;
    margin-left: auto;
    padding-left: 18px;
  }

  @media (min-width: $width-desktop) {
    width: 68.5%;
    margin-left: 80px;
  }
}

.form__input--email {
  border: none;
  border-bottom: 2px solid $black;
  width: 100%;
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 15px;
  outline: none;

  &:hover,
  &:focus {
    border-color: $main-green-input;
  }

  &:active {
    border-color: $main-green-input;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $text-color-30;

    @media (min-width: $width-tablet) {
      font-size: 19px;
    }
  }

  @media (min-width: $width-tablet) {
    width: 72.5%;
    margin-left: auto;
    padding-left: 18px;
  }

  @media (min-width: $width-desktop) {
    width: 68.5%;
    margin-left: 56px;
  }
}

.form__input--bottom-textarea {
  display: block;
  box-sizing: border-box;
  border: 2px solid $black;
  font-size: 17px;
  line-height: 18px;
  padding: 15px;
  padding-bottom: 20px;
  width: 100%;
  outline: none;

  &:hover,
  &:focus {
    border-color: $main-green-input;
  }

  &:active {
    border-color: $main-green-input;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $text-color-30;

    @media (min-width: $width-tablet) {
      font-size: 19px;
    }
  }

  @media (min-width: $width-tablet) {
    width: 75%;
    margin-left: auto;
    padding-left: 14px;
    font-size: 19px;
    line-height: 18px;
  }

  @media (min-width: $width-desktop) {
    width: 70.5%;
    margin-left: 74px;
  }
}

.form__bottom-text {
  font-size: 14px;
  line-height: 16px;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $width-tablet) {
    order: 2;
    font-size: 17px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.form__submit-button {
  @media (min-width: $width-tablet) {
    align-self: flex-start;
    order: 1;
    width: 230px;
    margin-left: 0;
    margin-top: 5px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 0;
  }
}
