.item-main {
  padding: 0 30px;

  @media (min-width: $width-tablet) {
    min-height: 470px;
    box-sizing: border-box;
    padding: 0 50px;
    margin-bottom: 35px;
  }

  @media (min-width: $width-desktop) {
    min-height: 600px;
    margin-bottom: 0;
  }
}

.item-main__header-wrapper {
  margin-top: 27px;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;
  }

  @media (min-width: $width-desktop) {
    justify-content: flex-start;
  }
}

.item-main__description-wrapper,
.item-main__price-wrapper {
  @media (min-width: $width-tablet) {
    width: 43%;
    float: left;
  }

  @media (min-width: $width-desktop) {
    padding-left: 175px;
    width: 28%;
  }
}

.item-main__description-wrapper {
  @media (min-width: $width-tablet) {
    margin-bottom: 12px;
    margin-top: -50px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 62px;
  }
}

.item-main__header {
  @include header-size;
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $width-tablet) {
    @include header-size-tablet;
  }

  @media (min-width: $width-desktop) {
    @include header-size-desktop;
    order: 2;
    z-index: 10;
  }
}

.item-main__type {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-green;
  margin: 0;

  @media (min-width: $width-tablet) {
    max-width: 70px;
    text-align: center;
    line-height: 17px;
    margin-right: 28px;
  }

  @media (min-width: $width-desktop) {
    order: 1;
    padding: 2px 27px 0 47px;
  }
}

.item-main__description {
  font-size: 15px;
  line-height: 24px;
  color: $text-color;
  margin-top: 23px;

  @media (min-width: $width-tablet) {
    font-size: 17px;
    line-height: 30px;
    margin-top: 45px;
    margin-bottom: 32px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 44px;
  }
}

.item-main__characteristics {
  font-size: 15px;
  line-height: 20px;
  color: $text-color;
  margin-bottom: 25px;
}

.item-main__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: $text-color;
  margin-bottom: 25px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    margin-bottom: 34px;
  }
}

.item-main__field,
.item-main__value {
  display: inline-block;
  padding: 10px 0 9px 0;
  border-bottom: 1px solid $border-color;

  @media (min-width: $width-tablet) {
    padding: 10px 0 7px 0;
  }
}

.item-main__field {
  min-width: 96px;
}

.item-main__value {
  min-width: 160px;
}

.item-main__img {
  display: inline-block;
  background-color: $grey-light;

  @media (min-width: $width-tablet) {
    width: 333px;
    height: 404px;
    float: right;
  }

  @media (min-width: $width-desktop) {
    width: 525px;
    height: 636px;
    margin-top: -165px;
  }
}

.item-main__button {
  @include link-reset;
  padding: 9px 20px;

  @media (min-width: $width-tablet) {
    min-width: 290px;
    margin-left: 0;
  }
}
