.map-button {
  @include link-reset;
  margin: 0 auto 39px;
  width: 260px;
  padding: 10px;

  @media (min-width: $width-tablet) {
    width: 230px;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    margin-left: 175px;
    margin-top: 23px;
  }
}
