.map {
  margin-bottom: 40px;

  @media (min-width: $width-tablet) {
    margin-bottom: 53px;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    top: 97px;
    right: 50px;
  }
}

.map__img {
  display: block;

  @media (min-width: $width-tablet) {
    width: 100%;
    height: 457px;
  }

  @media (min-width: $width-desktop) {
    width: 525px;
    height: 457px;
  }
}
