.page-footer {
  background-color: $grey-light;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    padding: 51px 50px 58px 50px;
  }
}

.page-footer__logo-link {
  display: none;

  @media (min-width: $width-tablet) {
    display: block;
    width: 102px;
    height: 34px;
  }
}
