.page-header {
  width: $width-mobile;
  background-color: $white;

  margin: 0 auto;
  position: relative;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    display: flex;
    margin-bottom: -90px;
    background-color: transparent;
    z-index: 1;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
  }
}
