.page-catalog__header-background {
  background-color: $grey-light;
}

.page-catalog__header {
  @include inner-page-header;

  @media (min-width: $width-tablet) {
    @include inner-page-header-tablet;
  }

  @media (min-width: $width-desktop) {
    @include inner-page-header-desktop;
  }
}

.page-catalog__list {
  list-style: none;
  box-sizing: border-box;
  margin-top: 30px;
}
