.page-catalog {
  width: $width-mobile;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
  }
}

.page-catalog__header {
  @include inner-page-header;

  @media (min-width: $width-tablet) {
    @include inner-page-header-tablet;
  }

  @media (min-width: $width-desktop) {
    @include inner-page-header-desktop;
  }
}

.page-catalog__list {
  @include list-reset;
  padding: 0 30px;
  margin: 30px 0;

  @media (min-width: $width-tablet) {
    padding: 0 52px;
  }

  @media (min-width: $width-tablet) {
    padding: 0 49px;
  }
}
