.review-content__text {
  font-size: 15px;
  line-height: 30px;
  color: $text-color;

  @media (min-width: $width-tablet) {
    font-size: 17px;
    padding-right: 70px;
  }
}

.review-content__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}

.review-content__author-social {
  font-size: 17px;
  line-height: 30px;
  color: $text-color;
  text-decoration: none;
}
