.review-content__text {
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
}

.review-content__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}

.review-content__author-social {
  font-size: 17px;
  line-height: 30px;
  color: $text-color;
  text-decoration: none;
}
