.review-main {
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 457px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px;
    padding-top: 85px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 75px;
    padding-left: 175px;
    background-position: 50px 0;
  }
}

.review-main__header {
  @include header-size;

  @media (min-width: $width-tablet) {
    @include header-size-tablet;
    margin: 0;
    order: 1;
    flex-grow: 1;
  }

  @media (min-width: $width-desktop) {
    @include header-size-desktop;
  }
}

.review-main__button {
  @include link-reset;

  @media (min-width: $width-tablet) {
    order: 2;
    align-self: flex-start;
  }
}

.review-main__content {
  @media (min-width: $width-tablet) {
    order: 3;
  }
}

.review-main__review-nav {
  display: flex;
  margin: 20px 0;

  @media (min-width: $width-tablet) {
    position: absolute;
    bottom: 70px;
    right: 50px;
    order: 4;
  }
}

.review-main__nav-button {
  width: 130px;
  height: 50px;
  flex-grow: 1;
}
