.site-list {
  @include list-reset;

  @media (min-width: $width-tablet) {
    order: 3;
    padding-left: 20px;
    max-width: 450px;
  }

  @media (min-width: $width-desktop) {
    order: 1;
    padding-left: 13px;
    min-width: 500px;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 0 $border-color, inset 0 1px 0 0 $border-color;

  @media (min-width: $width-tablet) {
    box-shadow: none;
  }

  @media (min-width: $width-desktop) {
    &:first-child {
      border-right: 1px solid $border-color;
    }
  }
}

.site-list__link {
  display: block;
  width: 215px;
  margin: 0 auto;
  padding: 30px 0 25px 44px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
  white-space: nowrap;
  transition: 0.35s;

  &:hover,
  &:focus {
    color: $black-60;
    transition: 0.35s;
  }

  &:active {
    color: $black-30;
  }

  @include link-reset;

  @media (min-width: $width-tablet) {
    font-size: 15px;
    padding: 18px 0 25px 29px;
    width: 140px;
  }

  @media (min-width: $width-desktop) {
    font-size: 17px;
    padding: 32px 25px 32px 35px;
    width: 160px;
  }
}


.site-list--closed {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.site-list--no-js {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
