.social-list {
  @include list-reset;
  display: flex;
  padding: 25px 40px 20px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $width-tablet) {
    padding: 0;
    margin-top: 9px;
    border: none;
  }
}

.social-list__item {
  margin: 0 20px;
}

.social-list__item--instagram {
  margin-top: 5px;
  margin-left: 15px;
}

.social-list__item--twitter {
  margin-top: 4px;
}

.social-list__link {
  @include link-reset;

  &:hover svg,
  &:focus svg {
    fill: $main-green-dark-hover;
  }

  &:active svg {
    fill: $main-green-dark-hover-30;
  }
}
