.user-list {
  @include list-reset;

  @media (min-width: $width-tablet) {
    order: 2;
  }

  @media (min-width: $width-desktop) {
    order: 3;
  }
}

.user-list__item {
  box-shadow: 0 1px 0 0 $border-color, inset 0 1px 0 0 $border-color;
  padding: 25px 0 23px 23.75%;

  @media (min-width: $width-tablet) {
    box-shadow: none;
    padding: 28px 50px 30px 83px;
    border-left: 1px solid $border-color;
  }
}

.user-list__item--search {
  @media (min-width: $width-tablet) {
    padding-left: 77px;
    padding-right: 5px;
  }
}

.user-list__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
  white-space: nowrap;

  @include link-reset;

  &:hover,
  &:focus {
    color: $black-60;
  }

  &:active {
    color: $black-30;
  }
}

.user-list__link--icon-cart,
.user-list__link--icon-search {
  position: relative;
}

.user-list__icon {
  position: absolute;
  top: 2px;
  left: -45px;
  fill: $black;
  opacity: 0.2;

  &:hover,
  &:focus {
    fill: $main-green;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__icon--search {
  @media (min-width: $width-tablet) {
    top: 9px;
    left: -43px;
  }
}

.user-list__icon--cart {
  @media (min-width: $width-tablet) {
    left: -52px;
  }
}

.user-list__text {
  @media (min-width: $width-tablet) {
    display: none;
  }
}

.user-list--closed {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.user-list--no-js {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
