.user-list {
  @include list-reset;
}

.user-list__item {
  box-shadow: 0 1px 0 0 $silver, inset 0 1px 0 0 $silver;
  padding: 30px 0 30px 76px;
}

.user-list__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;

  @include link-reset;
}
