.user-list {
  @include list-reset;

  @media (min-width: $width-tablet) {
    order: 2;
  }

  @media (min-width: $width-desktop) {
    order: 3;
  }
}

.user-list__item {
  box-shadow: 0 1px 0 0 $border-color, inset 0 1px 0 0 $border-color;
  padding: 25px 0 23px 23.75%;

  @media (min-width: $width-tablet) {
    box-shadow: none;
    padding: 28px 50px 30px 76px;
  }

  @media (min-width: $width-desktop) {
    box-shadow: none;
    padding: 28px 52px 30px 76px;
  }
}

.user-list__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
  white-space: nowrap;

  @include link-reset;

  &:hover,
  &:focus {
    color: $black-60;
  }

  &:active {
    color: $black-30;
  }
}

.user-list__link--search {
  @media (min-width: $width-tablet) {
    display: none;
  }
}

.user-list--closed {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.user-list--no-js {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
