.video-container {
  position: relative;
  margin: 0 auto;

  @media (min-width: $width-desktop) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.video-container__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}
