.wrapper {
  width: $width-mobile;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
  }
}
