@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2");
  src: url("../fonts/opensans.woff");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2");
  src: url("../fonts/opensansbold.woff");
  font-weight: bold;
}
