// Цвета
$white: #ffffff;
$white-90: rgba(255, 255, 255, 0.9);
$white-30: rgba(255, 255, 255, 0.3);
$black: #000000;
$black-60: rgba(0, 0, 0, 0.6);
$black-30: rgba(0, 0, 0, 0.3);
$black-10: rgba(0, 0, 0, 0.1);
$brown-dark: #010000;
$main-green: #63d1bb;
$main-green-dark: #56c3b2;
$text-color: #444444;
$text-color-10: rgba(68, 68, 68, 0.1);
$grey-light: #f1f1f1;
$grey: #c6c6c6;
$border-color: #ececec;

// Размеры
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1150px;
$mobile-width-only: 767px;

// Шрифты
$default-font: "Open Sans", "Arial", sans-serif;
