// Цвета
$white: #ffffff;
$white-90: rgba(255, 255, 255, 0.9);
$black: #000000;
$brown-dark: #010000;
$main-green: #63d1bb;
$main-green-dark: #56c3b2;
$text-color: #444444;
$grey-light: #f1f1f1;
$grey: #c6c6c6;

// Размеры
$width-mobile: 320px;

// Шрифты
$default-font: "Open Sans", "Arial", sans-serif;
